body {
    background-color: #1b233f;
  }
  
  .text-center {
    color: rgb(236, 235, 235);
  }
  header{
    border-bottom: 4px solid rgb(158, 20, 48);
  }
  .form-control{
    width: 87%;
    margin-right: 2px;
    }
  .card-header{
    padding-left: 2px;
  }
  
  title {
    color: rgb(236, 235, 235);
  }
  .container {
    background-color: rgb(230, 222, 222);
  
    display: block;
    margin: 0 auto;
  
    border-radius: 10px;
    padding-bottom: 50px;
    width: 90%;
  }
  .row {
    padding-left: 10px;
  }
  
  span {
    display: inline-flex;
  }
  
  .app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
  }
  .forecast-card{
    background-color: royalblue;
    color: rgb(236, 235, 235);
  }
  
  .app-title {
    height: 50px;
    border-radius: 10px 10px 0 0;
  }
  
  
  .notification {
    background-color: #faf0f1;
    display: none;
  }
  .weather-container {
    height: 160px;
    background-color: #f1f3f5;
    margin-top: 20px;
    padding: 10px;
  }
  .notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }
  

  .weather-box{
    width: 100%;
  }
  .temperature-value {
    height: 60px;
  }
  .weather-icon {
    height: 128px;
  }
  
  .weather-icon img {
    display: block;
    margin: 0 auto;
  }
  
  
  
  #run-search{
    background-color: rgb(114, 188, 218);
    color: rgb(236, 235, 235);
  }
  
  .temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
  }
  .temperature-value span {
    color: #293251;
    font-size: 0.5em;
  }
  .forecast-container{
    padding-right: 25px;
  }
  
  .card-body{
    padding: 1px;
  }
  
  #search-card {
    padding-top: 30px;
  }
  .location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
  }
  
  
  .temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:rgb(236, 235, 235);
    background-color: #293251;
    padding: 10px;
    border-top: 4px solid rgb(158, 20, 48);
    text-align: center;
    height: 50px;
  }